<%- include( "partials/header.ejs" ) %>

<% if( currentUser && currentUser.isAdmin ){ %>
    <!-- admin -->
   
    <body class = "bgAllPage ">
        <h4 class = "display-5 fw-bold text-center text-light"> HELLO ADMIN </h4>
        
        <!-- NOWSHOWING -->
        <div class="row" >
            <h5 class = "text-light mt-5 col nowShowing"> NOW SHOWING </h5>
        </div>
        <div class = "overflow-scroll" >
            <div class = "album py-5" >
                <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" >
                   <% movie.forEach(function(movie){ %>
                       <% if( movie.category === true ){ %>
                        <div class = "col" >
                            <div class="card text-light nowShowing-card">
                                <div class="nowShowing-card-hover">
                                    <img src="<%= movie.poster %>" class="card-img index-image nowShowing-hover-image" width = "450" height = "420">
                                    <div class="nowShowing-hover-view">
                                            <p> <i class="fa-solid fa-tag"></i> <%= movie.genre %> </p>
                                            <p> <i class="fa-solid fa-film"></i> <%= movie.rate %> </p>
                                            <p> <i class="fa-solid fa-clock"></i> <%= movie.time %> Mins  </p>
                                        <a href = "/movies/<%= movie._id %>" class = "btn btn-sm btn-outline-light text-center mt-5 fs-5" > VIEW </a>
                                    </div>
                                </div>
                                <div class = "card-body">
                                    <p class="fs-6 textShadowPurple"> <%= movie.date%>  </p>
                                    <p class="textShadow"> <%= movie.name %> </p>
                                </div>
                             </div>
                         </div>  
                       <% } %>
                   <% }) %>
                </div>
            </div>
        </div>

       <!-- COMMINGSOON -->
        <h5 class = "text-light comingSoon"> COMING SOON </h5>
        <div class = "overflow-scroll">
            <div class = "album py-5 ">
                <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    <% movie.forEach(function(movie){ %>
                        <% if( movie.category === false ){ %>
                        <div class = "col ">
                            <div class="card text-light comingSoon-card">
                                <div class="comingSoon-card-hover">
                                    <img src="<%= movie.poster %>" class="card-img index-image comingSoon-hover-image" width = "450" height = "420">
                                    <div class="comingSoon-hover-view">
                                        <p> <i class="fa-solid fa-tag"></i> <%= movie.genre %> </p>
                                        <p> <i class="fa-solid fa-film"></i> <%= movie.rate %> </p>
                                        <a href = "/movies/<%= movie._id %>" class = "btn btn-sm btn-outline-light mt-5 fs-5" > VIEW </a>
                                    </div>   
                            </div>
                                <div class = "card-body">
                                    <p class="textShadowPurple"> <%= movie.date%>  </p>
                                    <p class="textShadow"> <%= movie.name %> </p>
                                </div>
                            </div> 
                        </div>
                        <% } %> 
                    <% }) %>
                </div>
            </div>
        </div>

       <!-- PROMOTION -->
        <div class = "row text-light">  
            <div class = "col promotion"> <h5> PROMOTION </h5> </div>
            <div class = "col" > <a href="/promotions" class = "promotionAll btn text-light"> ALL </a> </div>
        </div>
        <div class = "album py-5">
            <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                <% promotion.forEach(function(promotion){ %>
                    <div class = "col">
                        <div class="card text-light promotion-card">
                            <div class="promotion-card-hover">
                                <img src="<%= promotion.productPoster %>" class="card-img index-image promotion-hover-image" width = "500" height = "450">
                                <a href = "/promotions/<%= promotion._id %>" class = "btn btn-sm btn-outline-light promotion-hover-view fs-5" > View </a>
                            </div>
                            <div class = "card-body text-center">
                                <p class="fs-5 textShadow"> <%= promotion.productName %> </p>
                            </div>
                        </div>  
                    </div>  
                <% }) %>
            </div>
        </div> 
        
<% } else { %> 
    <body class = "bgAllPage ">

        <!-- MOVIES -->
        <!-- NOWSHOWING -->
        <div class="row" >
             <h5 class = "text-light mt-5 col nowShowing"> NOW SHOWING </h5>
        </div>
        <div class = "overflow-scroll" >
            <div class = "album py-5" >
                <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" >
                    <% movie.forEach(function(movie){ %>
                        <% if( movie.category === true ){ %>
                        <div class = "col" >
                            <div class="card text-light nowShowing-card">
                                <div class="nowShowing-card-hover">
                                    <img src="<%= movie.poster %>" class="card-img index-image nowShowing-hover-image" width = "450" height = "420">
                                    <div class="nowShowing-hover-view">
                                            <p> <i class="fa-solid fa-tag"></i> <%= movie.genre %> </p>
                                            <p> <i class="fa-solid fa-film"></i> <%= movie.rate %> </p>
                                            <p> <i class="fa-solid fa-clock"></i> <%= movie.time %> Mins  </p>
                                        <a href = "/movies/<%= movie._id %>" class = "btn btn-sm btn-outline-light text-center mt-5 fs-5" > VIEW </a>
                                    </div>
                                </div>
                                <div class = "card-body">
                                    <p class="fs-6 textShadowPurple"> <%= movie.date%>  </p>
                                    <p class="textShadow"> <%= movie.name %> </p>
                                    <div class = "btn-group">
                                        <a href = "/showtime/movie/<%= movie._id %>" class = "btn-sm btn btn-outline-warning" > GET TICKETS </a>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <% } %>
                    <% }) %>
                </div>
            </div>
        </div>

        <!-- COMMINGSOON -->
        <h5 class = "text-light comingSoon"> COMING SOON </h5>
        <div class = "overflow-scroll">
            <div class = "album py-5 ">
                <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                    <% movie.forEach(function(movie){ %>
                        <% if( movie.category === false ){ %>
                        <div class = "col ">
                            <div class="card text-light comingSoon-card">
                                <div class="comingSoon-card-hover">
                                    <img src="<%= movie.poster %>" class="card-img index-image comingSoon-hover-image" width = "450" height = "420">
                                    <div class="comingSoon-hover-view">
                                        <p> <i class="fa-solid fa-tag"></i> <%= movie.genre %> </p>
                                        <p> <i class="fa-solid fa-film"></i> <%= movie.rate %> </p>
                                        <a href = "/movies/<%= movie._id %>" class = "btn btn-sm btn-outline-light mt-5 fs-5" > VIEW </a>
                                    </div>   
                            </div>
                                <div class = "card-body">
                                    <p class="textShadowPurple"> <%= movie.date%>  </p>
                                    <p class="textShadow"> <%= movie.name %> </p>
                                </div>
                            </div> 
                        </div>
                        <% } %> 
                    <% }) %>
                </div>
            </div>
        </div>

        <!-- PROMOTION -->
        <div class = "row text-light">  
            <div class = "col promotion"> <h5> PROMOTION </h5> </div>
            <div class = "col" > <a href="/promotions" class = "promotionAll btn text-light"> ALL </a> </div>
        </div>
        <div class = "album py-5">
            <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                <% promotion.forEach(function(promotion){ %>
                    <div class = "col">
                        <div class="card text-light promotion-card">
                            <div class="promotion-card-hover">
                                <img src="<%= promotion.productPoster %>" class="card-img index-image promotion-hover-image" width = "500" height = "450">
                                <a href = "/promotions/<%= promotion._id %>" class = "btn btn-sm btn-outline-light promotion-hover-view fs-5" > View </a>
                            </div>
                            <div class = "card-body text-center">
                                <p class="fs-5 textShadow"> <%= promotion.productName %> </p>
                            </div>
                        </div>  
                    </div>  
                <% }) %>
            </div>
        </div> 
    <%- include( "partials/footer.ejs" ) %>
<% } %> 
    

   
